/**
practiqué realizado con fuentes locales en vez de link en caso de que la pagina se utilice en un servidor local de la empresa
y no se pueda acceder a internet o un exista un proxy.
*/

@font-face 
{
    font-family:'RobotoI';
    src: url('../css/Fuentes/Roboto-Italic.ttf'); 
    font-style: normal;
    font-weight: normal;
}

@font-face 
{
    font-family:'RobotoL';
    src: url('../css/Fuentes/Roboto-Light.ttf'); 
    font-style: normal;
    font-weight: normal;
}

@font-face 
{
    font-family:'RobotoR';
    src: url('../css/Roboto-Regular.ttf'); 
    font-style: normal;
    font-weight: normal;
}